# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.js
*.js.map
*.tsbuildinfo

# Logs
logs
*.log

# Output of compilation
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/

# Dependency directories
/typings
/temp